<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文明生活</title>
    <link rel="stylesheet" type="text/css" href="mystyle/mystyle.css">
    <script type="text/javascript" src="myjs/jquery-1.9.0.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<meta content="telephone=no" name="format-detection" />
</head>
<body class="withbg">
    <div class="container"><!--container-->
      
      <div class="detail_head">
          <div class="head_title">小区用电安全须知</div>
          <div class="head_date"><h1>2015-04-21</h1><h2>财智社区</h2></div>
      </div>
             
      <div class="detail_img">
        <img src="images/elec.png" alt="">
      </div>         
         
      <div class="detail_article">
 夏季的酷热使人难耐，空调、电风扇也都转了起来。因为使用这些电器而造成的火灾、触电事故每年都有发生，怎样既安全又科学地用电，是每个家庭必须注意的大事。首先，要考虑电能表和低压线路的承受能力。
      </div> 
            
      <div class="detail_back">
        <input type="button" value="返   回" onclick="location.href='wenming_life_index.html'">  
      </div>   
                                                                                      
                                                                                                                                                                                                                           
    </div><!--container end-->
</body>
</html>